@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


.header {
    height: calc(100vh - 22px);
    background-size: cover;
    background: url("https://s2.abcstatics.com/media/gurmemalaga/2018/06/restaurantes-italianos-en-la-costa-del-sol.jpeg") fixed bottom;
    padding: 20px 70px;
    background-repeat: no-repeat;
}

.logEslog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(245, 245, 220, 0.323);
    padding: 0px 25px 10px 25px;
    border-radius: 100px;
}

#logo {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

#eslogan {
    padding-top: 15px;
    font-family: 'Dancing Script', cursive;
    color: #f6a700;
    -webkit-text-stroke: 2px #7e4400;
    text-stroke: 2px #7e4400;
    font-size: 70px;
    font-weight: lighter;
    text-align: center;
}

@font-face {
    font-family: 'Qwiley-Regular';
    src: url("../../assets/fonts/Qwigley-Regular.ttf");
}


@media screen and (max-width: 767px) {
    .header {
        padding: 20px;
    }

    #eslogan {
        font-size: 40px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
        padding: 40px;
    }

    #eslogan {
        font-size: 50px;
    }
}


@media screen and (min-width: 1024px) {
    .header {
        padding: 150px 120px 30px 120px;
        text-align: center;
    }

    #eslogan {
        font-size: 70px;
    }
}
