<div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        Vittoria
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
  
    <div class="nav-links">
            <a [routerLink]="['qrcode']" routerLinkActive="active">QR pureba</a>
            <a [routerLink]="['home']" routerLinkActive="active">Inicio</a>
            <a [routerLink]="['about']" routerLinkActive="active">Sobre Nosotros</a>
            <a [routerLink]="['formulario-conacto']" routerLinkActive="active">Contactanos</a>
            <a *ngIf="usuarioValido || isAdmin" [routerLink]="['citas']" routerLinkActive="active">Citas</a>
            <a *ngIf="isAdmin" [routerLink]="['usuarios']" routerLinkActive="active">Usuarios</a>
            <a *ngIf="isAdmin" [routerLink]="['graficas']" routerLinkActive="active">Graficas</a>
            <a *ngIf="!usuarioValido &&  !isAdmin" (click)="reLogin()">Crear cuenta</a>
            <a *ngIf="usuarioValido || isAdmin" (click)="logOut()">logOut</a>
            <a disable >{{nombreUsuario}}</a>
    </div>
  </div>