
<div class="container">
    <button id="boot" class="btn btn-dark" (click)="mostrar ? borrarComponente() : lanzarQr()">
      {{ mostrar ? 'Borrar Platillo' : 'Nuevo Platillo' }}
    </button>
  </div>
  
  <div *ngIf="mostrar">

    <div class="card" style="width: 18rem;">
        <img [src]="datos.foto" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ datos.name }}</h5>
          <div class="row">
            <div class="col-12">
              <qrcode (qrCodeURL)="onChangeURL($event)" [qrdata]="datos.QrCode"  [width]="200"
                [errorCorrectionLevel]="'M'"></qrcode>
            </div>
          </div>
        </div>
      </div>

  </div>