.imgAcces{
    width: 50px;
}

.des{
    width: 20px;
}

.dropdown {
    position: fixed;
    top: 50px;
    right: 4px;
    padding: 10px;
    display: inline-block;
  }
  
  
  #dropdown-menu {
    display: none;
    position: absolute;
    list-style: none;
    transform: translate(-60%, -2%);

  }
  
  #dropdown-menu.open {
    display: block;
  }
  


  .containeraccs{
    display: grid;
    place-items: center;
    margin-left: 30px;
    font-family: 'Dancing Script', cursive;
    background: rgba(156, 143, 167, 0.308);
    background: radial-gradient(circle, rgba(156, 143, 167, 0.123) 0%, rgba(0, 0, 0, 0.137) 56%);
    border: 1px solid black;
    padding: 15px;
    font-size: 20px;
    box-shadow: 8px 6px 10px gray;
    border-radius: 16px;
    color: black;
  }
  
