
<!-- accesibilidad-->
<div class="dropdown" (click)="toggleDropdown()">
  <img class="imgAcces" src="assets/accesibilidad/accesibilidad.png" alt="">
  <ul [class.open]="isDropdownOpen" id="dropdown-menu" (click)="closeDropdown()">
    <li class="containeraccs" style="display: flex;"> 
      <button (click)="increaseFontSize()"><img class="des" src="assets/accesibilidad/aumenta-el-tamano-de-la-fuente.png" alt=""></button>
      <button (click)="decreaseFontSize()"><img class="des" src="assets/accesibilidad/disminuir-el-tamano-de-la-fuente.png" alt=""></button>
    </li>
    <li class="containeraccs"><button (click)="toggleGrayscale()"><img class="des" src="assets/accesibilidad/escala-de-grises.png" alt=""></button></li>
    <li class="containeraccs"><button (click)="cambiarFuente()"><img class="des" src="assets/accesibilidad/redimensionar.png" alt=""></button></li>
    <li class="containeraccs"><button (click)="reanudarLectura()"><img class="des" src="assets/accesibilidad/boton-de-play.png" alt=""></button>
      <button (click)="pausarLectura()"><img class="des" src="assets/accesibilidad/boton-de-pausa.png" alt=""></button>
      <button (click)="reiniciarLectura()"><img src="assets/accesibilidad/reanudar.png" class="des" alt=""></button></li>
  </ul>
</div>
<!--fin menú accesibilidad-->
